<h2>Add a Place</h2>

<form action="/places/create">
	<fieldset>
	  <b>Title:</b> <input name="title" size="40">
	  <br><br>
	  <b>Photo URL:</b> <input name="photo_url" size="80">
	  <br><br>
	  <b>Price:</b> <input name="admission_price">
	  <br><br>
	  <b>Description:</b>
	  <br><br>
	  <textarea name="description" rows="3" cols="80"></textarea>
	  <br>
	  <button>Submit</button>
	</fieldset>
</form>